{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Jamia<br />
    Delhi<br />
    <abbr title="Phone">P:</abbr>
    {{ phone }}
</address>

<address>
    <strong>CopyRights:</strong>   <a href="mailto:firozarmaankhan1@gmail.com">firozarmaankhan1@gmail.com</a><br />
    <strong>24/7:</strong> <a href="mailto:tahatariq1999@gmail.com">tahatariq1999@gmail.com</a>
</address>

<a href="{% url 'home' %}" class="btn btn-warning btn-sm">
    <i class="fas fa-edit"></i> Back
</a>

{% endblock %}
